<div class="container">
<div class="header">
<h2>Presidential Data Charts</h2>
<h5>data as of <%= Date.today.try(:strftime, '%b. %e, %Y') %> (automatically updates daily)</h5>
<h6>made with <%= link_to "d3.js", "http://d3js.org" %> by <%= link_to "Jeff Slutzky", "http://jeffslutzky.com" %></h6>
<h6>mouse over a bar to see more data</h6>
</div>


<!--dropdown menu-->
<p>
  <%= form_tag do %>
  <%= label_tag(:which_chart, "Choose a chart:") %><br />
  <%= select_tag(:chart, options_for_select([["Retirement lengths", 1], ["Lifespan lengths", 2]])) %>
<% end %>
</p>
<!--end of menu-->

  <div>
    Sort:<br />
    <label>
      <input type="radio" name="options" id="chronological" autocomplete="off" checked> Chronological
    </label>
    <label>
      <input type="radio" name="options" id="descending" autocomplete="off"> Descending
    </label>
  </div>

<h6>red = alive; blue = deceased</h6>

</div
